@charset "utf-8";

/*	General
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM {
		font-family: "LatoWeb";
	}

	#wpSM h2 {
		font-weight: 700;
	}

	#wpSM h2 a {
		color: #000;
	}

	#wpSM h2 img {
		margin : 0 0 -3px 0;
	}

	#wpSM h2 span {
		color: #95a5a6;
	}

	#wpSM h3 i {
		width: 30px;
	}

	#wpSM a {
		text-decoration: none;
		font-weight: 700;
	}

/*	Text styles
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM .ps {
		font-style: italic;
		color: #424242;
	}

/*	Forms
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM label {
		font-weight: 700;
		margin: 0 0 .25rem;
		display: block;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	#wpSM input {
		width: 100%;
		max-width: 100%;
		padding: .75rem;
		border: 1px solid #C5C5C5;
		border-radius: .25rem;
		margin: 0 0 .5rem;
		height: auto;	
		font-size: 1.25rem;
		line-height: normal;
		color: #555459;
	}

	#wpSM input.small {
		font-size: 1rem;
		padding: .45rem .75rem .55rem;
	}

	#wpSM button {
		border : 0;
	}

/*	Buttons
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM .action {
		text-align: right;
	}

	#wpSM .btn {
		display: inline-block;
		cursor: pointer;
		border-radius: .25rem;
	    padding: 8px 14px 9px;

	    background: #2ab27b;
	   	color : #fff;

	   	text-align: center;
	    font-size: .9375rem;
	    text-decoration: none;
	    line-height: 1.2rem;
	    font-weight: 900;
	    text-shadow: 0 1px 1px rgba(0,0,0,.1);
	}

	#wpSM .btn:hover {
		box-shadow: inset 0 -2px rgba(0,0,0,.25)
	}

	#wpSM .btn_outline {
		background: #fbfbfa;
	    color: #555459 !important;
	    font-weight: 700;
	    text-shadow: none;
	    border: 1px solid #C7CACD;
	}

	#wpSM .btn_outline:hover {
		box-shadow: none;
		color: #3aa3e3 !important;
	}

	#wpSM .btn_list {
		padding: 5px 10px 2px 10px;
		margin : 0 5px 0 5px;
		text-decoration: none;
		border-radius: 0.25rem;
		color: #424242;
		font-weight: 300;
	}

	#wpSM .btn_list i {
		color : #7f8c8d;
		width: 25px;
	}

	#wpSM .btn_list:hover {
		color : #fff;
		background-color: #3aa3e3;
	}

	#wpSM .btn_list:hover i {
		color: #fff;
	}

/*	Alerts
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	@keyframes fade_out {
	    0% 	  {opacity: 1; visibility: visible; }
	    75%   {opacity: 1; visibility: visible;}
	    100%  {opacity: 0; visibility: hidden;}
	}

	#wpSM .alert {
		display: block;
		position: fixed;
		top: 32px;
		left: 0;
		width: 100%;
		padding: .3rem 1rem .4rem;
		font-size: 1rem;
    	line-height: 1.4rem;
    	font-weight: 700;
		z-index: 999;
		margin : 0;
		text-align: center;
	    animation : fade_out 4s linear forwards;
	}

	#wpSM .alert.error {
		background-color: #e74c3c;
		color: #fff;
	}

	#wpSM .alert.success {
		background-color: #2ab27b;
		color: #fff;
	}

/*	Panel
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM .panel {
		background: #fff;
		border-radius: 0 0 .25rem .25rem;
		box-shadow: 0 1px 0 rgba(0,0,0,.25);
		padding: 2rem 2rem 1rem;
		margin: 0 auto 3rem;
		border: 1px solid #e8e8e8;
	}

	#wpSM .panel-head {
		margin-bottom: -5px;
	}

	#wpSM .panel-option {
		display: inline-block;
		padding: 12px 32px 11px;
		font-weight: 700;
		margin-bottom: -1px;
		border: 1px solid transparent;
		border-top-right-radius: .25rem;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: .25rem;
		background-clip: padding-box;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		max-width: 100%;
	}

	#wpSM .panel-option:hover {
		text-decoration: underline;
	}

	#wpSM .panel-option.selected {
		border: 1px solid #e8e8e8;
		background: #fff;
		border-bottom-color: #fff;
		color: #555459;
		cursor: default;
	}

	#wpSM .panel-option.selected:hover {
		text-decoration: none;
	}

	#wpSM .panel-actions {
		background: #fff;
		min-height: 30px;
		padding: 1rem;
		border: 1px solid #e8e8e8;
		margin-bottom: -1px;
	}

	#wpSM .panel-list {
		line-height: 1.25rem;
		color: #555459;
		position: relative;
		clear: both;

		user-select: text;
		word-break: break-word;
		font-size: .9375rem;

		margin: 0 1px 0 0;
		padding-top: 1rem;
		padding-bottom: 1rem;
		min-height: 48px;
		border-radius: 0;
		border-bottom: none;
		border-top: 1px solid #e8e8e8;
	}

	#wpSM .panel-list:after{
		clear: both;
	}

	#wpSM .panel-list img[class^="thumb"]{
		display: inline-block;
		margin-right: 10px;
	}

	#wpSM .panel-list div {
		display: inline-block;
		vertical-align: top;
	}

	#wpSM .panel-list div h4 {
		font-size: 1.125rem;
		font-weight: 700;
	}

	#wpSM .panel-list div p, #wpSM .panel-list div h4 {
		margin : 0 0 2px 0;
	}

	#wpSM .panel .action {
		float: right;
	}

	#wpSM .panel .panel-list .action {
		margin-top: 10px;
	}


/*	Thumbs
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM img[class^="thumb"]{
		border-radius: 0.25rem;
	}

	#wpSM .thumb-48 {
		width: 48px;
		height: 48px;
	}

	#wpSM .thumb-72 {
		width: 72px;
		height: 72px;
	}

/*	Menu
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM #menu {
		float: left;
		width : 14%;
		padding: 0 1% 30px 2%;
		margin-right: 2%;
		border-right: 1px solid #bdc3c7;
	}

	#wpSM #menu a {
		display: block;
		margin: 5px 0 0 0;
	}

	#wpSM #menu a i {
		color: #bdc3c7;
	}

	#wpSM #menu a:hover {
		background-color: #bdc3c7;
	}

	#wpSM #menu a:hover i {
		color: #fff;
	}

	#wpSM #menu a.user {
		border : 1px solid rgba(0,0,0,0);
	}

	#wpSM #menu a.user:hover {
		color : inherit;
		background-color: inherit;
		border : 1px solid #bdc3c7;
	}

	#wpSM #menu a.active {
		background-color: #3aa3e3;
		color: #fff;
	}

	#wpSM #menu a.red_active {
		background-color: #eb4d5c;
		color: #fff;
	}

	#wpSM #menu a.green_active {
		background-color: #93cc93;
		color: #fff;
	}

	#wpSM #menu a.active i,
	#wpSM #menu a.red_active i,
	#wpSM #menu a.green_active i {
		color: #fff !important;
	}

	#wpSM #menu a.active:hover {
		background-color: #3aa3e3;
	}

	@media screen and (max-width: 700px){
		#wpSM #menu {
			display: block;
			width: 100%;
			border-right: 0;
			padding: 10px;
			margin: 10px 0 0 0;
		}

		#wpSM #menu a {
			display: inline-block;
			padding: 5px 20px 5px 20px;
			border: 1px solid #C7CACD;
			margin: 0 5px 0 5px;
		}
	}

/*	Content
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM #content {
		display: inline-block;
		width : 78%;
		padding: 0 2% 0 0%;
	}

	#wpSM #content h3 {
		font-size: 2em;
	}

	#wpSM #content h3 i {
		margin-left: 5px;
		margin-right: 10px;
	}

	@media screen and (max-width: 700px){
		#wpSM #content {
			width: 100%;
			padding: 10px;
			margin: 10px 0 0 0;
		}
	}

/*	Colors
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/

	#wpSM .purple-text {
		color : #7d60c5 !important;
	}

	#wpSM .red-text {
		color : #eb4d5c !important;
	}

	#wpSM .red-bg {
		background-color : #eb4d5c !important;
	}

	#wpSM .green-text {
		color : #93cc93 !important;
	}

	#wpSM .grey-text {
		color : #95a5a6 !important;
	}

	#wpSM .grey-light-text {
		color : #bdc3c7 !important;
	}


/*	Specific
<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>	*/
	#wpSM div.error_page {
		text-align: center;
	}